# database properties
#Dev - HSQLDB
dev.jdbc.driverClassName=org.hsqldb.jdbcDriver
dev.jdbc.url=jdbc:hsqldb:file:knappsackdb;user=sa;shutdown=true;encoding=UTF-8;
dev.jdbc.target-database=HSQL
dev.jdbc.loggingStartupScript=classpath:logbackStartupHSQLDB.sql
dev.jdbc.dialect=org.hibernate.dialect.HSQLDialect

#Dev - H2
#dev.jdbc.driverClassName=org.h2.Driver
#JDBC_CONNECTION_STRING=jdbc:h2:mem/knappsackdb;USER=sa
#dev.jdbc.target-database=org.eclipse.persistence.platform.database.H2Platform
#dev.jdbc.loggingStartupScript=classpath:logbackStartupH2.sql

#Dev - MySQL
#dev.jdbc.driverClassName=com.mysql.jdbc.Driver
#dev.jdbc.url=jdbc:mysql://localhost:3306/knappsackdb_flyway?user=root&useUnicode=true&characterEncoding=utf8
#dev.jdbc.target-database=MySQL
#dev.jdbc.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
#dev.jdbc.loggingStartupScript=classpath:logbackStartupMySQL.sql

#Production - MySQL
prod.jdbc.url=jdbc:mysql://localhost:3306/knappsack_dbaa?user=root&useUnicode=true&characterEncoding=utf8
prod.jdbc.driverClassName=com.mysql.jdbc.Driver
prod.jdbc.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
prod.jdbc.loggingStartupScript=classpath:logbackStartupMySQL.sql
prod.jdbc.springOauthSchema=classpath:spring_oauth_schema.sql
prod.jdbc.target-database=MySQL
