.idea/*

target/
*.iml
knappsack-integration-tests/knappsackdb.log
knappsack-integration-tests/knappsackdb.properties
knappsack-integration-tests/knappsackdb.script
knappsackdb.properties
knappsackdb.script
knappsackdb.log
AwsCredentials.properties
dependency-reduced-pom.xml
knappsack-resigner/ipasign.sh
knappsack-resigner/ipasign_wrapper.sh
knappsack-resigner/log4j.properties
knappsack-resigner/test-msg.json
knappsack-integration-tests/createDDL.jdbc
knappsack-integration-tests/dropDDL.jdbc
./**/.DS_Store
/*.DS_Store
/createDDL.jdbc
/dropDDL.jdbc
/maintenance/
