<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack application version error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${userName})}">
    Hello, Peter Static!
</p>
<p th:inline="text">
    <b>[[${applicationName}]] v.[[${applicationVersion}]]</b> has been moved to the Error state.  Please navigate to the below url to view the application version.
</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<p>
    Regards, <br />
    &emsp; <em>The Knappsack Team</em>
</p>
</body>
</html>
