<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack user activation notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Hello, Peter Static!
</p>
<p th:inline="text">
    Your account has been successfully created, however, it must be activated before you can use it.  Please navigate to the below url to activate your account or log in and enter the activation code when prompted.
</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<p>
    Activation Code: <span th:text="${activationCode}"/>
</p>
<p>
    Regards, <br />
    &emsp; <em>The Knappsack Team</em>
</p>
</body>
</html>
