<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack Invitation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:include="email-headerTH :: email-header"/>

<p>
    Hello!
</p>

<p th:if="${not #strings.isEmpty(adminName)} and ${not #sets.contains(domainTypes, 'ORGANIZATION')} and ${#sets.contains(domainTypes, 'GROUP')}" th:utext="#{email.invitation.adminExists.groupsOnly(${adminName}, ${parentDomainName}, ${url})}"/>
<p th:if="${not #strings.isEmpty(adminName)} and ${#sets.contains(domainTypes, 'ORGANIZATION')}" th:utext="#{email.invitation.adminExists.organization(${adminName}, ${parentDomainName}, ${url})}"/>
<p th:if="${#strings.isEmpty(adminName)} and ${not #sets.contains(domainTypes, 'ORGANIZATION')} and ${#sets.contains(domainTypes, 'GROUP')}" th:utext="#{email.invitation.noAdmin.groupsOnly(${parentDomainName}, ${url})}"/>
<p th:if="${#strings.isEmpty(adminName)} and ${#sets.contains(domainTypes, 'ORGANIZATION')}" th:utext="#{email.invitation.noAdmin.organization(${parentDomainName}, ${url})}"/>

<span th:if="${#bools.isTrue(existingUser)}" th:text="#{email.invitation.noFurtherAction}">No further action is necessary.</span>
<span th:if="${#bools.isFalse(existingUser)}" th:text="#{email.invitation.createAccount}">Please follow the below link to create your Knappsack account.</span>

<p th:if="${not #sets.contains(domainTypes, 'ORGANIZATION')} and ${#sets.contains(domainTypes, 'GROUP')}">
    <b th:text="#{email.invitation.groups}">Groups:</b>
    <ul style="list-style-type: none;">
        <li th:each="groupInvitation : ${groupInvitations}" th:if="${groupInvitation.domain}" th:text="${groupInvitation.domain.name}">Group Name</li>
    </ul>
</p>

<p>
    <a th:href="${url}" th:text="${url}"/>
</p>

<div th:include="email-footerTH :: email-footer"/>

</body>
</html>
