<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack user activation notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="email-headerTH :: email-header"/>

<p th:text="#{greeting(${name})}">
    Hello, Peter Static!
</p>
<p th:text="#{email.accountActivation.org(${organizationName})}" th:if="${not #strings.isEmpty(organizationName)}">
    Your account was successfully created!  However, it must be activated before you can use it.  Please click the link below to activate your account.
</p>
<p th:text="#{email.accountActivation}" th:if="${#strings.isEmpty(organizationName)}">
    Your account was successfully created!  However, it must be activated before you can use it.  Please click the link below to activate your account.</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<div th:include="email-footerTH :: email-footer"/>
</body>
</html>
