<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack user activation notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="email-headerTH :: email-header"/>

<p th:text="#{greeting(${userName})}">
    Hello, Peter Static!
</p>
<p th:inline="text">
    <b>[[${applicationName}]] v.[[${applicationVersion}]]</b> has been made available for download.  Please navigate to the below url to view the application.
</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<div th:include="email-footerTH :: email-footer"/>
</body>
</html>
