<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack password changed notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Hello, Peter Static!
</p>
<p th:inline="text">
    A request has been submitted to change your password.  Your new temporary password can be found below.  Please change your password upon successfully logging in.
</p>
<p th:inline="text">
    Password: [[${password}]]
</p>

<p>
    <a th:href="${url}" th:text="${url}"/>
</p>

<p>
    Regards, <br />
    &emsp; <em>The Knappsack Team</em>
</p>
</body>
</html>
