.image-container {
    max-height: 50%;
    width: 100%;
    margin: 0 auto;
}

.flexslider {
    margin: 0 auto;
    max-height: 50%;
    max-width: 50%;
}

.flex-control-paging {
    margin: 0 auto;
    position: relative;
}

.flex-control-nav {
    bottom: 0px;
    top: 0px;
    padding: 20px 0 10px 0;
}

