<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="include_login=${true},title=#{desktop.error.404.title},exclude_systemNotifications=${true}">
<head th:substituteby="/includesTH :: head"></head>

<body class="lightNav">
<div th:substituteby="/includesTH :: header"></div>

<div class="container">
    <div class="alert alert-error" style="text-align: center;" th:text="#{desktop.error.404}">
        We're sorry, but the page you are looking for cannot be found.
    </div>
</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<section id="scripts">
    <section th:include="/includesTH :: required_scripts"/>
</section>

</body>

</html>