<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title=#{desktop.categories.title}">
<head th:substituteby="/includesTH :: head"></head>
<body>

<div class="container knappsack-container">

    <div th:substituteby="/includesTH :: header"/>

    <section class="row">

        <div th:substituteby="/includesTH :: side_menu"/>

        <div class="span10">




            <div class="page-info callout"> <b class="notch"></b>
                <span class="page-info-bold"><span th:text="#{desktop.categories.overview.header}">Categories</span><span>:</span></span> <span th:text="#{desktop.categories.overview.lead}">Select a category to view its applications.</span>
            </div>

            <div class="content-wrap">
                <div class="container-fluid">
                    <div class="row-fluid page-header first" style="border: none;">
                        <span id="noResults" th:if="${#lists.isEmpty(categories)}" th:text="#{desktop.categories.no.categories}">No Categories</span>

                        <div class="row" style="margin: 0 auto;">

                            <div th:each="category : ${categories}" th:attr="data-id=${category.id}" class="category" th:title="${category.name}">
                                <div class="icon"><img class="delay-image" th:attr="data-img-url=@{${category.icon.url}}"/></div>
                                <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><span th:text="${category.name}"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<div th:substituteby="/includesTH :: scripts"/>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(window).load(function() {
        $('img.delay-image').each(function(index, value) {
            var $elem = $(this);
            $elem.attr('src', $elem.data('img-url'));
        });
    });

    $(document).ready(function () {

        $(document).trigger('knappsack.categories-page');

    });
    /*]]>*/
</script>

</body>
</html>
