<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title=#{desktop.change.password.title}">

<head th:substituteby="/includesTH :: head"></head>

<body class="lightNav">

<div th:substituteby="/includesTH :: header"></div>

<div class="container">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            $('#resend').click(function(e) {
                e.preventDefault();

                var modalTitle = /*[[#{desktop.change.password.reset.modal.title}]]*/ 'Reset Password';

                showConfirmationModal(modalTitle);
                $('#confirmationModalSubmit').click(function () {
                    ajaxSubmit();
                });
            });

            function ajaxSubmit() {
                var url = /*[[@{/auth/forgotPassword}]]*/ '/auth/forgotPassword';
                var email = /*[[${email}]]*/ '';
                $.post(url, {email:email}, function(data) {
                    if (data.result) {
                        $('#confirmationModal .modal-body .alert-error').hide();
                        $('#confirmationModal .modal-body .alert-success').show();
                        hideModal(500);
                    } else {
                        $('#confirmationModal .modal-body .alert-error').show();
                        $('#confirmationModal .modal-footer .btn').removeAttr('disabled');
                        $('#confirmationModal .close').removeAttr('disabled');
                    }
                });
            }

            function hideModal(delay) {
                setTimeout(function () {
                            $('.modal').modal('hide');
                        }, delay
                );
            }

            function showConfirmationModal(title) {
                $('#confirmationModal .modal-header h3').text(title);
                $('#confirmationModal').modal();
            }

            $('#confirmationModal').on('show', function () {
                $('#confirmationModal .modal-body .alert').hide();
                $('#confirmationModal .modal-footer .btn').removeAttr('disabled');
                $('#confirmationModal .close').removeAttr('disabled');
            });

            $('#confirmationModal').on('hide', function () {
                $('#confirmationModalSubmit').unbind('click');
            });

        });
        /*]]>*/
    </script>

    <header class="jumbotron subhead" id="overview">
        <h1 th:text="#{desktop.change.password.overview.header}">Change Password</h1>

        <p class="lead" th:text="#{desktop.change.password.overview.header.lead}">
            Enter your existing password and new password.
        </p>
    </header>

    <div class="row-fluid">
            <div class="span7 well">

                <div th:unless="${success == null}">
                    <div class="alert alert-success" th:if="${#bools.isTrue(success)}">
                        <a class="close" data-dismiss="alert" th:text="#{desktop.alert.close}">x</a>
                        <strong th:text="#{desktop.alert.success.prefix}">Well done!</strong> <span th:text="#{desktop.change.password.success}">You have successfully changed your password.</span>
                    </div>

                    <div class="alert alert-error" th:if="${#bools.isFalse(success)}">
                        <a class="close" data-dismiss="alert" th:text="#{desktop.alert.close}">x</a>
                        <strong th:text="#{desktop.alert.error.prefix">Oh snap!</strong> <span th:text="#{desktop.change.password.error}">Password change failed.  Please try again.</span>
                    </div>
                </div>

                <form id="passwordForm" th:object="${passwordForm}" th:href="@{/profile/changePassword}" href="/profile/changePassword" method="post" class="form-horizontal">
                    <div id="errors"  class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                        <h1 th:text="#{errors.header}"/>
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="originalPassword"><span class="required" th:text="#{desktop.required.field}">*</span> <span th:text="#{desktop.change.password.original.label}">Original:</span></label>

                            <div class="controls">
                                <input type="password" id="originalPassword" name="originalPassword" required="required" th:title="#{desktop.change.password.original.title}" title="Original Password" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="firstNewPassword"><span class="required" th:text="#{desktop.required.field}">*</span> <span th:text="#{desktop.change.password.new.label}">New:</span></label>

                            <div class="controls">
                                <input type="password" id="firstNewPassword" name="firstNewPassword" required="required" th:title="#{desktop.change.password.new.title}" title="New Password" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="secondNewPassword"><span class="required" th:text="#{desktop.required.field}">*</span> <span th:text="#{desktop.change.password.new.again.label}">New Again:</span></label>

                            <div class="controls">
                                <input type="password" id="secondNewPassword" name="secondNewPassword" required="required" th:title="#{desktop.change.password.new.again.title}" title="Confirm new password" />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" th:title="#{desktop.change.password.submit.title}" title="Submit" th:text="#{desktop.change.password.submit}">Submit</button>
                        </div>
                    </fieldset>

                    <div class="alert alert-info">
                        <span th:text="#{desktop.required.field.description(#{desktop.required.field})}">* indicates a required field</span>
                    </div>
                </form>
            </div>
            <div class="span5">
                <dl>
                    <dt th:text="#{desktop.change.password.faq.dt}">Change Password</dt>
                    <dd><span th:text="#{desktop.change.password.faq.dd.line1}">If you forgot your password for this account please</span> <a id="resend" th:text="#{desktop.change.password.forgot.password}">Click Here</a>.</dd>
                </dl>
            </div>
        </div>

    <div th:substituteBy="/includesTH :: confirmation_modal"/>

</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<section id="scripts">
    <section th:include="/includesTH :: required_scripts"/>
</section>

</body>
</html>