<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title='Knappsack',exclude_systemNotifications=${true}, exclude_contextSwitcher=${true}">
<head th:substituteby="/includesTH :: head"></head>

<body>

<div class="container knappsack-container">

    <div th:substituteby="/includesTH :: header"/>

    <div class="row">

        <div class="container-fluid">

            <div class="row-fluid">

                <header class="jumbotron subhead" id="overview" th:unless="${#bools.isTrue(success)}">
                    <h1 th:text="#{desktop.domainPublicRequest.requestAccess(${domainName})}">Request Access</h1>
                    <p class="lead">
                        Enter all of your information to request access.  You will be notified at the specified email address if your request was approved.
                    </p>
                </header>

                <div class="container" th:if="${#bools.isTrue(success)}">
                    <div class="alert alert-success" style="text-align: center;">
                        <h2>Request submitted successfully</h2>
                    </div>
                    <h3>Congratulations, your access request has been submitted successfully.</h3>
                    <p class="lead">
                        <span>You will be notified at the email address you specified if the request is approved.</span>
                    </p>
                </div>

                <form id="requestForm" class="form-horizontal" th:object="${domainRequestForm}" th:action="@{/auth/request/process}" action="/auth/request/process" method="POST" th:unless="${#bools.isTrue(success)}">
                    <div id="errors" class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                        <h2 th:text="#{errors.header}">Errors</h2>
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <fieldset>
                        <input type="hidden" id="uuid" th:field="*{domainUUID}"/>
                        <div class="control-group">
                            <label class="control-label" for="firstName"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Name</span></label>
                            <div class="controls">
                                <input type="text" id="firstName" th:field="*{firstName}" placeholder="First" required="required" autofocus="autofocus" title="First name" />
                                <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last" required="required" title="Last name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="companyName"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Company Name</span></label>
                            <div class="controls">
                                <input type="text" id="companyName" th:field="*{companyName}" required="required" title="Company Name"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Address</span></label>
                            <div class="controls">
                                <textarea id="address" th:field="*{address}" required="required" title="Address"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="phoneNumber"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Phone Number</span></label>
                            <div class="controls">
                                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required="required" title="Phone Number"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="emailAddress"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Email</span></label>
                            <div class="controls">
                                <input type="email" id="emailAddress" th:field="*{emailAddress}" class="input-xlarge" required="required" title="Email Address" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="deviceType"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Device Type</span></label>
                            <div class="controls">
                                <select id="deviceType" required="required" style="width: auto;" th:field="*{deviceType}" title="Device Type">
                                    <option value="" th:text="#{select.option.default}">--Please Select--</option>
                                    <option th:each="deviceType : ${deviceTypes}"
                                            th:value="${deviceType}" th:text="#{${deviceType.messageKey}}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="regions"><span class="required" th:text="#{desktop.required.field}">*</span> <span>World Region</span></label>
                            <div class="controls">
                                <select id="regions" required="required" style="width: auto;" th:field="*{region}" title="World Region">
                                    <option value="" th:text="#{select.option.default}">--Please Select--</option>
                                    <option th:each="region : ${regions}"
                                            th:value="${region.id}" th:text="${region.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="required" th:text="#{desktop.required.field}">*</span> <span>Languages</span></label>
                            <div class="controls">
                                <div th:each="language : ${languages}" class="checkbox">
                                    <input class="language_checkbox" type="checkbox" th:value="${language}" th:field="*{languages}" th:text="#{${language.messageKey}}"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button id="submitButton" type="submit" class="btn btn-large btn-primary">Submit</button>
                        </div>
                    </fieldset>

                    <div class="alert alert-info">
                        <span th:text="#{desktop.required.field.description(#{desktop.required.field})}">* indicates a required field</span>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<div th:substituteby="/includesTH :: scripts"/>

</body>

</html>