<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ks="http://www.knappsack.com">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" th:content="#{knappsack.description}" content="All your apps, packed up, and ready to go" />
    <meta name="author" th:content="#{knappsack.author}" content="Sparc LLC" />

    <title th:text="#{knappsack.title(${title})}">Knappsack</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="../../resources/css/bootstrap-2.2.1.min.css"
          ks:href="@{/resources/css/bootstrap-2.2.1.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/bootstrap-responsive-2.2.1.min.css"
          ks:href="@{/resources/css/bootstrap-responsive-2.2.1.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/docs_2.min.css" ks:href="@{/resources/css/docs_2.min.css}"
          rel="stylesheet"/>
    <link href="../../resources/css/custom_7.min.css"
          ks:href="@{/resources/css/custom_7.min.css}" rel="stylesheet"/>

    <link href="../../resources/css/login.min.css" ks:href="@{/resources/css/login.min.css}"
          rel="stylesheet" th:if="${include_login}"/>

    <link href="../../resources/css/DT_bootstrap.min.css"
          ks:href="@{/resources/css/DT_bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/prettify.min.css"
          ks:href="@{/resources/css/prettify.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/multi-select_1.css"
          ks:href="@{/resources/css/multi-select_1.css}" rel="stylesheet"/>

    <link rel="shortcut icon" href="../../resources/img/favicon.png" ks:href="@{/resources/img/favicon.png}"/>

    <script src="../../resources/js/jquery-1.7.1.min.js" ks:src="@{/resources/js/jquery-1.7.1.min.js}"
            type="text/javascript"></script>

    <script src="../../resources/js/knappsack_3.min.js" ks:src="@{/resources/js/knappsack_3.min.js}"
            type="text/javascript"></script>

    <script src="../../resources/js/openid.min.js" ks:src="@{/resources/js/openid.min.js}"
            type="text/javascript" th:if="${include_login}"></script>

    <script type="text/javascript" th:inline="javascript" th:if="${#bools.isFalse(exclude_systemNotifications)}">
        /*<![CDATA[*/
        var systemNotifications = [];

        function displaySystemNotifications() {
            var getSystemNotificationsUrl = /*[[@{/getSystemNotifications}]]*/ '/getSystemNotifications';
            var systemNotificationTypes = /*[[${systemNotificationTypes}]]*/ [];
            $(systemNotifications).each(function(index, value) {
                value.close();
            });
            $.ajax( {
                url: getSystemNotificationsUrl,
                data: {"types": systemNotificationTypes}
            }).done(function(result) {
                        if (result) {
                            $('body > .container, body > .container-fluid > .row-fluid > .span10').prepend($('<div>').addClass('system-notifications'));
                            $.each(result, function(index, value) {
                                var type = 'alert';
                                switch (value.notificationSeverity) {
                                    case 'INFO':
                                        type = 'information';
                                        break;
                                    case 'WARNING':
                                        type = 'warning';
                                        break;
                                    case 'ERROR':
                                        type = 'error';
                                        break;
                                }
                                systemNotifications.push($('.system-notifications').noty({
                                    text: escapeHtml(value.message),
                                    type: type,
                                    layout: 'topCenter',
                                    closeWith: ['click']
                                }));
                            });
                        }
                    });
        }
        /*]]>*/
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {

            $('a[rel*=external]').click(function(){
                window.open($(this).attr('href'));
                return false;
            });

            var excludeSystemNotifications = /*[[${#bools.isTrue(exclude_systemNotifications)}]]*/ false;

            if (!excludeSystemNotifications) {
                $('.noty_text').escapeHtml();
                displaySystemNotifications();
            }

        });
        /*]]>*/
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var contactsURL = /*[[@{/contacts}]]*/ '/contacts';
            $("#supportFooter").live("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: contactsURL,
                    cache: false
                }).done(function (data) {
                            $('.generated-contact').remove();
                            data.forEach(function (contacts) {
                                for (contact in contacts.contacts) {
                                    console.log(contacts.contacts[contact].name);
                                    var mailTo = '<a class="generated-contact" id="knappsackSupport" href="mailto:' + contacts.contacts[contact].email + '" rel="external">' + contacts.contacts[contact].name + '</a>';
                                    $("<div class='generated-contact'>" + mailTo + "</div>").prependTo("#contactsModalDiv");
                                }
                                $("<p class='generated-contact' style='padding-top:.5em;'><b>" + contacts.domainName + " Administrators</b></p>").prependTo("#contactsModalDiv");
                            });
                            $('#contactsModal').modal({
                                show: true
                            });
                        });
            });
        });
        /*]]>*/
    </script>

</head>

<body>

<div th:fragment="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" th:href="@{/}" href="/"><img src="../../resources/img/logo-header.png.png"
                                                              ks:src="@{/resources/img/logo-header.png}"
                                                              th:alt="#{desktop.includes.logo.alt}" alt="Knappsack"/></a>

                <div class="nav-collapse" th:if="${user}">
                    <ul class="nav nav-pills" th:if="${#bools.isTrue(user.activated)} and ${#bools.isFalse(user.passwordExpired)}">
                        <li><a href="#" th:href="@{/home}" th:unless="${include_activate}" th:title="#{desktop.includes.header.home.title}" title="Home" th:text="#{desktop.includes.header.home}">Home</a></li>
                        <li><a href="categoriesTH.html" th:href="@{/categories}" th:unless="${include_activate}" th:title="#{desktop.includes.header.categories.title}" title="Categories" th:text="#{desktop.includes.header.categories}">Categories</a></li>
                        <!--<li><a href="searchTH.html" th:href="@{/search}" th:unless="${include_activate}" th:title="#{desktop.includes.header.search.title}" title="Search" th:text="#{desktop.includes.header.search}">Search</a></li>-->
                        <li><a href="domain_accessTH.html" th:href="@{/domain/requestAccess}" th:unless="${include_activate}" th:title="#{desktop.includes.header.request.group.access.title}" title="Request Group Access" th:text="#{desktop.includes.header.request.group.access}">Request Group Access</a></li>
                        <li><a href="manager/managerHomeTH.html" th:href="@{/manager/}" th:if="${user.anyAdmin}" th:unless="${include_activate}" th:title="#{desktop.includes.header.manage.title}" title="Manage Application" th:text="#{desktop.includes.header.manage}">Manage Application</a></li>
                    </ul>
                    <!--<div class="logoutNav">-->
                    <ul class="nav nav-pills pull-right">
                        <li class="dropdown" id="account">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="${user.fullName + ' (' + user.email + ')'}">User</span> <b class="caret"/> </a>
                            <ul class="dropdown-menu">
                                <li th:if="${user.activated}">
                                    <a id="changePassword" href="/profile/changePassword" th:href="@{/profile/changePassword}" th:text="#{desktop.includes.header.account.menu.change.password}">Change Password</a>
                                </li>
                                <li>
                                    <a id="logout" href="/auth/logout" th:href="@{/auth/logout}" th:text="#{desktop.includes.header.account.menu.logout}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--[[${user.fullName}]]-->
                    <!--([[(${user.email})]])-->
                    <!--<a class="btn btn-primary" href="auth/logout" th:href="@{/auth/logout}" th:title="#{desktop.includes.header.logout.title}" title="Logout" th:text="#{desktop.includes.header.logout}">Logout</a>-->
                    <!--</div>-->
                </div>
                <div class="nav-collapse" th:unless="${user}">
                    <div class="loginNav" th:inline="text">
                        <a class="btn btn-primary" href="auth/login" th:href="@{/auth/login}" th:title="#{desktop.includes.header.login.title}" title="Login" th:text="#{desktop.includes.header.login}">Login</a>
                    </div>
                </div>

                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <hr/>
        <!--<div class="row-fluid">-->
        <div class="span8">
            <strong>&copy; 2013 Sparc LLC</strong>
            <br />
            All rights reserved.
            <a id="supportFooter" href="#" th:title="#{desktop.includes.footer.support.title}" title="Contacts" th:text="#{desktop.includes.footer.support}">Contact Us</a>
            |
            <a id="faqFooter" th:href="@{http://support.knappsack.com/forums/21434262-faqs}" rel="external" th:text="#{desktop.includes.footer.faqs}" th:title="#{desktop.includes.footer.faqs.title}" title="Frequently Asked Questions">FAQs</a>
        </div>

        <div class="icons span4">
            <ul class="pull-right">
                <li><a id = "facebookFooter" href="https://www.facebook.com/knappsackapp" class="facebook" rel="external" target="_blank" th:title="#{desktop.includes.footer.facebook.title}" title="Facebook" th:text="#{desktop.includes.footer.facebook}">Facebook</a>
                </li>
                <li><a id = "twitterFooter" href="https://twitter.com/knappsackapp" class="twitter" rel="external" target="_blank" th:title="#{desktop.includes.footer.twitter.title}" title="Twitter" th:text="#{desktop.includes.footer.twitter}">Twitter</a>
                </li>
            </ul>
        </div>
        <!--</div>-->
    </div>

    <div id="contactsModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Contacts</h3>
        </div>
        <div id="contactsModalDiv" class="modal-body">
            <p style='padding-top:1em;'><b>Knappsack Support</b></p>
            <a id="knappsackSupport" th:href="'mailto:' + #{knappsack.support}" href="mailto:support@knappsack.com" th:title="#{knappsack.support}" title="Knappsack Support" th:text="#{knappsack.support}" rel="external">Knappsack Support</a>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
</footer>

<div></div>

<section id="scripts">
    <section th:fragment="required_scripts">
        <script src="../../resources/js/prettify.min.js"
                ks:src="@{/resources/js/prettify.min.js}" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap-2.2.1.min.js"
                ks:src="@{/resources/js/bootstrap-2.2.1.min.js}"></script>
        <section th:if="${#bools.isFalse(exclude_systemNotifications)}">
            <script src="../../resources/js/jquery.noty.min.js"
                    ks:src="@{/resources/js/jquery.noty.min.js}"></script>
            <script src="../../resources/js/top.min.js"
                    ks:src="@{/resources/js/top.min.js}"></script>
            <script src="../../resources/js/inline.min.js"
                    ks:src="@{/resources/js/inline.min.js}"></script>
            <script src="../../resources/js/default.min.js"
                    ks:src="@{/resources/js/default.min.js}"></script>
        </section>
    </section>

    <section th:fragment="table_tools_scripts">
        <script src="../../resources/js/jquery.dataTables-1.9.4.min.js"
                ks:src="@{/resources/js/jquery.dataTables-1.9.4.min.js}"></script>
        <script src="../../resources/DataTables/js/TableTools.min.js"
                ks:src="@{/resources/js/TableTools.min.js}"></script>
        <script src="../../resources/DataTables/js/ZeroClipboard.js"
                ks:src="@{/resources/js/ZeroClipboard.min.js}"></script>
        <script src="../../resources/js/DT_bootstrap_4.min.js"
                ks:src="@{/resources/js/DT_bootstrap_4.min.js}"></script>
        <script src="../../resources/js/TT_bootstrap_1.min.js"
                ks:src="@{/resources/js/TT_bootstrap_1.min.js}"></script>
    </section>

    <section th:fragment="table_scripts">
        <script src="../../resources/js/jquery.dataTables-1.9.4.min.js"
                ks:src="@{/resources/js/jquery.dataTables-1.9.4.min.js}"></script>
        <script src="../../resources/js/DT_bootstrap_4.min.js"
                ks:src="@{/resources/js/DT_bootstrap_4.min.js}"></script>
    </section>

    <section th:fragment="table_tools_scripts">
        <script src="../../resources/DataTables/js/TableTools.min.js"
                ks:src="@{/resources/js/TableTools.min.js}"></script>
        <script src="../../resources/DataTables/js/ZeroClipboard.js"
                ks:src="@{/resources/js/ZeroClipboard.min.js}"></script>
    </section>

    <section th:fragment="wysiwyg_scripts">
        <link href="../../resources/css/bootstrap-wysihtml5-0.0.2.min.css"
              ks:href="@{/resources/css/bootstrap-wysihtml5-0.0.2.min.css}"
              rel="stylesheet"/>
        <script src="../../resources/js/wysihtml5-0.3.0.min.js"
                ks:src="@{/resources/js/wysihtml5-0.3.0.min.js}" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap-wysihtml5-0.0.2.min.js"
                ks:src="@{/resources/js/bootstrap-wysihtml5-0.0.2.min.js}" type="text/javascript"></script>
    </section>

    <section id="individual_scripts">
        <script src="../../resources/js/bootstrap-inputmask.min.js"
                ks:src="@{/resources/js/bootstrap-inputmask.min.js}" th:fragment="inputmask_script"></script>
        <script src="../../resources/js/jquery.cookie-1.3.min.js"
                ks:src="@{/resources/js/jquery.cookie-1.3.min.js}" th:fragment="cookie_script"></script>
        <script src="../../resources/js/jquery.multi-select.js"
                ks:src="@{/resources/js/jquery.multi-select.js}" th:fragment="multiselect_script"></script>
    </section>

    <section th:fragment="inputmask_scripts">
        <script src="../../resources/js/jquery.inputmask.min.js"
                ks:src="@{/resources/js/jquery.inputmask.min.js}"></script>
        <script src="../../resources/js/jquery.inputmask.extensions.min.js"
                ks:src="@{/resources/js/jquery.inputmask.extensions.min.js}"></script>
        <script src="../../resources/js/jquery.inputmask.date.extensions.min.js"
                ks:src="@{/resources/js/jquery.inputmask.date.extensions.min.js}"></script>
        <script src="../../resources/js/jquery.inputmask.numeric.extensions.min.js"
                ks:src="@{/resources/js/jquery.inputmask.numeric.extensions.min.js}"></script>
        <script src="../../resources/js/jquery.inputmask.date.custom.extensions.min.js"
                ks:src="@{/resources/js/jquery.inputmask.date.custom.extensions.min.js}"></script>
    </section>
</section>

<!--</div>-->

<div id="confirmationModal" class="modal hide fade" th:fragment="confirmation_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" th:text="#{desktop.alert.close}">x</a>
        <h3 th:text="#{desktop.includes.confirmation.modal.title}">Title</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-success" style="display: none;">
            <h2 th:text="#{desktop.includes.confirmation.modal.success}">Success!!</h2>
        </div>
        <div class="alert alert-error" style="display: none;">
            <h2 th:text="#{desktop.includes.confirmation.modal.failure}">An error has occurred. Please try again.</h2>
        </div>
        <p th:text="#{desktop.includes.confirmation.modal.body}">Are you sure you want to continue?</p>
    </div>
    <div class="modal-footer">
        <a id="confirmationModalSubmit" href="#" class="btn btn-primary" th:text="#{desktop.includes.confirmation.modal.submit}">Yes</a>
        <a id="modalCancel" href="#" class="btn" data-dismiss="modal" th:text="#{desktop.includes.confirmation.modal.cancel}">No</a>
    </div>
</div>

</body>

</html>
