<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" th:content="#{knappsack.description}" content="All your apps, packed up, and ready to go" />
    <meta name="author" th:content="#{knappsack.author}" content="Sparc LLC" />

    <title th:text="#{knappsack.title(${title})}">Knappsack</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script th:src="@{/static/jawr_loader.js}" type="text/javascript"></script>
    <script type="text/javascript">
        JAWR.loader.style('/bundles/knappsack.css');
        JAWR.loader.style('/bundles/ext.css');
    </script>
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/gae0wog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="//assets.zendesk.com/external/zenbox/v2.5/zenbox.css" media="screen, projection" type="text/css" rel="stylesheet" />

    <link rel="shortcut icon" href="../../static/resources/img/favicon.png" th:href="@{/static/resources/img/favicon.png}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../../resources/img/apple_touch_icon_57x57.png" th:href="@{/static/resources/img/apple_touch_icon_57x57.png}" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../resources/img/apple_touch_icon_72x72.png" th:href="@{/static/resources/img/apple_touch_icon_72x72.png}" />
    <link rel="apple-touch-icon" sizes="114x114" href="../../resources/img/apple_touch_icon_114x114.png" th:href="@{/static/resources/img/apple_touch_icon_114x114.png}" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../resources/img/apple_touch_icon_144x144.png" th:href="@{/static/resources/img/apple_touch_icon_144x144.png}" />

</head>

<body>

<div class="row system_notifications" th:fragment="system_notifications">
    <div class="span2"></div>
    <div class="span10 content"></div>
</div>

<div class="span2" th:fragment="side_menu">
    <ul class="nav nav-list nav-knappsack">
        <!-- Admin -->
        <li class="nav-header" th:class="${#bools.isTrue(adminNavActive)} ? 'nav-header active' : 'nav-header'" th:if="${#bools.isTrue(user.anyAdmin)}"><a href="/manager" th:href="@{/manager}"><i class="icon-dashboard"></i> admin</a></li>
        <li th:if="${#bools.isTrue(user.systemAdmin)}" th:class="${#bools.isFalse(isEdit)} and ${#bools.isTrue(adminOrganizationNavActive)} ? 'active' : ''"><a id="addOrgMenuItem" th:href="@{/manager/addOrg}" th:text="#{desktop.managerIncludes.addOrganization}">Add Organization</a></li>
        <li th:if="${#bools.isTrue(user.activeOrganizationAdmin)} and ${user.activeOrganization != null}" th:class="${#bools.isTrue(isEdit)} and ${#bools.isTrue(adminOrganizationNavActive)} ? 'active' : ''"><a id="editOrgMenuItem" th:if="${user.activeOrganizationAdmin}" th:href="@{'/manager/editOrg/' + ${user.activeOrganization.id}}">Edit Organization</a></li>
        <li th:if="${#bools.isTrue(user.activeOrganizationAdmin)} or ${#bools.isTrue(user.activeOrganizationGroupAdmin)}" th:class="${#bools.isTrue(adminGroupNavActive)} ? 'active' : ''"><a id="editGroupsMenuItem" th:href="@{/manager/viewGroups}">Edit Groups</a></li>
        <li th:if="${user.systemAdmin}" th:class="${#bools.isTrue(adminStorageConfigsNavActive)} ? 'active' : ''">
            <a id="storageMenuItem" href="storageConfigsTH.html" th:href="@{/manager/viewStorageConfigs}" th:text="#{desktop.managerIncludes.storageConfigurations}">Storage Configurations</a>
        </li>
        <li th:if="${user.systemAdmin}" th:class="${#bools.isTrue(adminReportsNavActive)} ? 'active' : ''">
            <a id="reportsMenuItem" href="reportsTH.html" th:href="@{/manager/viewReports}">Reports</a>
        </li>
        <li th:if="${#bools.isTrue(user.organizationAdminWithResignerEnabled)}" th:class="${#bools.isTrue(adminKeyVaultNavActive)} ? 'active' : ''">
            <a id="keyVaultMenuItem" href="manageKeyVaultTH.html" th:href="@{/manager/viewKeyVault}" th:text="#{desktop.managerIncludes.keyVault}">Key Vault</a>
        </li>
        <li th:if="${user.systemAdmin}" th:class="${#bools.isTrue(adminSystemNavActive)} ? 'active' : ''">
            <a id="systemMenuItem" href="/manager/system" th:href="@{/manager/system}" th:text="#{desktop.managerIncludes.nav.system}">System</a>
        </li>
        <!-- Groups -->
        <li class="nav-header"><a href="#">groups</a></li>
        <li th:each="item,iterStat : ${groupMenuItems}" th:class="${#arrays.contains(groupNavActiveIDs, item.id)} ? 'active' : ''"><a th:id="${'group[' + iterStat.count + ']'}" th:href="@{/home(grp=${item.id})}" th:text="${item.name}">Name</a></li>
        <!-- Categories -->
        <li class="nav-header"><a href="#">categories</a></li>
        <li th:each="item,iterStat : ${categoryMenuItems}" th:class="${#arrays.contains(categoryNavActiveIDs, item.id)} ? 'active' : ''"><a th:id="${'category[' + iterStat.count + ']'}" th:href="@{/home(ctg=${item.id})}" th:text="${item.name}">Name</a></li>
        <!-- Devices -->
        <li class="nav-header"><a href="#">devices</a></li>
        <li th:each="item,iterStat : ${deviceTypeMenuItems}" th:class="${#arrays.contains(typeNavActive, item)} ? 'active' : ''"><a th:id="${'device[' + iterStat.count + ']'}" th:href="@{/home(type=${item})}" th:text="#{${item.messageKey}}">Device Type</a></li>
    </ul>
</div>

<div th:fragment="header">
    <div th:substituteby="/includesTH :: system_notifications" th:unless="${#bools.isTrue(exclude_systemNotifications)}"/>
    <div class="row">
        <div class="span2" th:include="/includesTH :: logo"></div>
        <div class="span2">
            <div th:include="/includesTH :: context_switcher" th:if="${user}" th:unless="${#bools.isTrue(exclude_contextSwitcher)}"></div>
        </div>
        <div class="span8" th:include="/includesTH :: navbar" th:if="${user}"></div>
    </div>
</div>

<div th:fragment="logo">
    <a class="brand pull-right" th:href="@{/}" href="/" style="min-width: 100%;">
        <h1 id="defaultLogo" class="knappsack-logo" th:alt="#{desktop.includes.logo.alt}" alt="Knappsack" th:style="${!#strings.isEmpty(customLogoURL)} and ${#bools.isFalse(exclude_contextSwitcher)} ? 'display: none;' : ''"></h1>
        <img id="customLogo" th:src="@{${customLogoURL}}" th:alt="${customLogoOrganizationName}" th:title="${customLogoOrganizationName}" th:unless="${#strings.isEmpty(customLogoURL)} or ${#bools.isTrue(exclude_contextSwitcher)}" class="pull-right knappsack-logo custom"/>
    </a>
</div>

<div th:fragment="context_switcher">
    <div class="btn-group filter">
        <a id="activeOrganizationButton" class="ks-orgContextMenu btn-noborder dropdown-toggle" data-toggle="dropdown" href="#">
            <span th:if="${user.activeOrganization != null}" th:text="${user.activeOrganization.name}">Organization Name</span>
            <span th:if="${user.activeOrganization == null}">Filter organization</span>
            <span class="caret"></span>
        </a>
        <div id="activeOrganizationsMenu" class="dropdown-menu">
            <input class="typeahead" type="text" th:placeholder="#{desktop.includes.contextSwitcher.search}" placeholder="Search" autocomplete="false"/>
            <ul class="elements"></ul>
        </div>
    </div>
</div>

<div th:fragment="navbar">
    <div class="navbar knappsack">
        <div class="container-fluid knappsack-utility-wrap">
            <div class="btn-group pull-right">
                <a id="userAccount" class="btn group-custom dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 0px 8px 0px 13px;">
                    <span th:text="${user.username}">User Name</span><i class="icon-cog"></i><span class="icon-caret-down" style="padding-left: 8px;"></span>
                </a>
                <ul class="dropdown-menu">
                    <li th:if="${user.activated}">
                        <a id="changePassword" href="/profile/changePassword" th:href="@{/profile/changePassword}"><i class="icon-key"></i> <span th:text="#{desktop.includes.header.account.menu.change.password}">Change Password</span></a>
                    </li>
                    <li class="divider" th:if="${user.activated}"></li>
                    <li>
                        <a id="logout" href="/auth/logout" th:href="@{/auth/logout}" th:text="#{desktop.includes.header.account.menu.logout}">Logout</a>
                    </li>
                </ul>
            </div>
            <!--/.btn-group -->
            <div th:if="${#bools.isTrue(user.anyAdmin)} and ${not #bools.isTrue(exclude_navbarUtils)}"><span class="divider pull-right"></span> <a class="btn pull-right" href="/manager/addApplication" th:href="@{/manager/addApplication}"><span th:text="#{desktop.includes.header.addAnApp}">add an app</span><i class="icon-plus-sign-alt"></i> </a><span class="divider pull-right"></span> <a class="btn pull-right" href="/manager/inviteUser" th:href="@{/manager/inviteUser}"><span th:text="#{desktop.includes.header.inviteUsers}">invite users</span><i class="icon-plus-sign-alt"></i> </a></div>
            <div><span class="divider pull-right"></span> <a class="btn pull-right home" href="/" th:href="@{/}"><i class="icon-home icon-large"></i> </a></div>
        </div>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <hr/>
        <div class="span8">
            <strong>&copy; <span th:text="#{knappsack.copyright.year}">2013</span> <a class="dashed" href="http://www.sparcedge.com" title="Sparc LLC" rel="external" th:text="#{knappsack.author}">Sparc LLC</a></strong><strong id="poweredByKnappsack" th:style="${#strings.isEmpty(customLogoURL)} ? 'display: none;' : ''" th:unless="${#bools.isTrue(exclude_contextSwitcher)}"> | <span th:text="#{desktop.includes.footer.poweredBy}">Powered by</span> <a class="dashed" href="http://knappsack.com" title="Knappsack" rel="external">Knappsack</a></strong>
            <br />
            All rights reserved.
            <a id="supportFooter" class="contacts" href="#" th:title="#{desktop.includes.footer.support.title}" title="Contacts" th:text="#{desktop.includes.footer.support}">Contact Us</a>
            |
            <a id="faqFooter" th:href="@{http://support.knappsack.com/forums/21434262-faqs}" rel="external" th:text="#{desktop.includes.footer.faqs}" th:title="#{desktop.includes.footer.faqs.title}" title="Frequently Asked Questions">FAQs</a>
        </div>

        <div class="icons span4">
            <ul class="pull-right">
                <li><a id = "facebookFooter" href="https://www.facebook.com/knappsackapp" class="facebook" rel="external" target="_blank" th:title="#{desktop.includes.footer.facebook.title}" title="Facebook" th:text="#{desktop.includes.footer.facebook}">Facebook</a>
                </li>
                <li><a id = "twitterFooter" href="https://twitter.com/knappsackapp" class="twitter" rel="external" target="_blank" th:title="#{desktop.includes.footer.twitter.title}" title="Twitter" th:text="#{desktop.includes.footer.twitter}">Twitter</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="contactsModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Contacts</h3>
        </div>
        <div id="contactsModalDiv" class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
</footer>

<div th:fragment="scripts">
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>

    <script type="text/javascript" th:fragment="scripts" th:inline="javascript">
        /*<![CDATA[*/
        JAWR.loader.script('/bundles/knappsack.js');
        JAWR.loader.script('/bundles/ext.js');

        $(document).ready(function() {
            ks.recordsPerPageText = /*[[#{desktop.table.records.per.page}]]*/ 'records per page';
            ks.contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';
            ks.contactsURL = /*[[@{/contacts}]]*/ '/contacts';

            (function() {
                var excludeSystemNotifications = /*[[${#bools.isTrue(exclude_systemNotifications)}]]*/ false;
                if (!excludeSystemNotifications) {
                    ks.params.systemNotificationTypes = /*[[${systemNotificationTypes}]]*/ [];
                    $(document).trigger('knappsack.system_notifications-fragment', ks.params);
                }
            })();
        });
        /*]]>*/
    </script>
</div>

<div id="confirmationModal" class="modal hide fade" th:fragment="confirmation_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" th:text="#{alert.close}">x</a>
        <h3 th:text="#{desktop.includes.confirmation.modal.title}">Title</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-success" style="display: none;">
            <div class="custom"/>
            <h2 class="default" th:text="#{desktop.includes.confirmation.modal.success}">Success!!</h2>
        </div>
        <div class="alert alert-error" style="display: none;">
            <div class="custom"/>
            <h2 class="default" th:text="#{desktop.includes.confirmation.modal.failure}">An error has occurred. Please try again.</h2>
        </div>
        <div class="body">
            <div class="custom"/>
            <p class="default" th:text="#{desktop.includes.confirmation.modal.body}">Are you sure you want to continue?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button id="confirmationModalSubmit" href="#" class="btn btn-primary" th:text="#{desktop.includes.confirmation.modal.submit}">Yes</button>
        <button id="modalCancel" href="#" class="btn" data-dismiss="modal" th:text="#{desktop.includes.confirmation.modal.cancel}">No</button>
    </div>
</div>

<div th:fragment="manager-checklist">

    <div id="managerChecklistDiv" class="row-fluid page-header" style="border: none; display: none;" th:if="${user.activeOrganizationAdmin}">
        <h3 class="page-header">Steps to create an application and invite users:</h3>
        <div class="row-fluid page-header" style="border: none;">
            <div id="completedGroupDiv" style="display: none; padding: 2px 0px;"><span class="badge badge-success"
                                                                                       style="margin-right: .5em">  </span><strong>Created a group</strong>
            </div>
            <div id="createGroupDiv" class="row-fluid" style="padding: 2px 0px;"><span class="badge badge-important" style="margin-right: .5em">  </span><a
                    id="createGroupLink" href="" class="btn">Create a group</a></div>

            <div id="completedApplicationDiv" style="display: none; padding: 2px 0px;" class="row-fluid"><span class="badge badge-success"
                                                                                                               style="margin-right: .5em">  </span><strong>Created an application</strong>
            </div>
            <div id="createApplicationDiv" class="row-fluid" style="padding: 2px 0px;"><span class="badge badge-important" style="margin-right: .5em">  </span><a
                    id="createApplicationLink" href="" class="btn">Create an application</a></div>

            <div id="completedAppVersionDiv" style="display: none; padding: 2px 0px;" class="row-fluid"><span class="badge badge-success"
                                                                                                              style="margin-right: .5em">  </span><strong>Created an application version</strong>
            </div>
            <div id="createAppVersionDiv" class="row-fluid" style="padding: 2px 0px;"><span class="badge badge-important" style="margin-right: .5em">  </span><a
                    id="createAppVersionLink" href="" class="btn">Add an application version</a></div>

            <div id="completedInviteOrganizationUserDiv" style="display: none; padding: 2px 0px;" class="row-fluid"><span class="badge badge-success"
                                                                                                                          style="margin-right: .5em">  </span><strong>Added an organization user</strong>
            </div>
            <div id="inviteOrganizationUserDiv" class="row-fluid" style="padding: 2px 0px;"><span class="badge badge-important" style="margin-right: .5em">  </span><a
                    id="inviteOrganizationUserLink" href="" class="btn">Add a user to your organization</a></div>
        </div>

        <div class="progress row-fluid">
            <div id="managerChecklistSuccessProgress" class="bar bar-success">Complete</div>
            <div id="managerChecklistIncompleteProgress" class="bar bar-danger">Incomplete</div>
        </div>
    </div>
</div>

</body>

</html>
