<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title='Home'">

<head th:substituteby="/includesTH :: head"></head>

<body class="lightNav">

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        var applications = /*[[${applications}]]*/ '';
        var shownApplications = [];

        $('#searchBox').live('input', function () {
            search();
            return false;
        });

        $('form').submit(function(e) {
            e.preventDefault();
            search();
            return false;
        });

        function search() {
            var searchValue = $("#searchBox").val();
//                var searchURL = /*[[@{/search}]]*/ "search.html";

            shownApplications = [];

            if (searchValue.length > 0) {
                searchValue = searchValue.toLowerCase();
                $(applications).each(function(iterator, element){
                    if (element.name.toLowerCase().indexOf(searchValue) != -1 || element.description.toLowerCase().indexOf(searchValue) != -1) {
                        shownApplications.push(element);
                    }
                });

                $('#searchResultsList li').remove();

                $(shownApplications).each(function(iterator, element) {
                    var detailURL = /*[[@{/detail/}]]*/ "/detail/";
                    var defaultIconUrl = /*[[@{/resources/img/default_icon.png}]]*/ '/resources/img/default_icon.png';
                    detailURL += element.id;

                    var anchor = $('<a>').attr('href', detailURL).attr('data-transition', 'slide');
                    if (element.icon != null) {
                        $(anchor).append($('<div>').addClass('li-floater')
                                .append($('<div>').addClass('thumb thumb-shadow')
                                .append($('<img>').attr('src', element.icon.url).addClass('li-thumbnail'))));
                    } else {
                        $(anchor).append($('<div>').addClass('li-floater')
                                .append($('<div>').addClass('thumb thumb-shadow')
                                .append($('<img>').attr('src', defaultIconUrl).addClass('li-thumbnail'))));
                    }
                    $('#searchResultsList').append(
                            $('<li>').append(
                                    $(anchor)
                                            .append($('<h3>').html(element.name))
                                            .append($('<p>').html(element.description).addClass('clipped'))

                            )
                    );
                });

//                    shownApplications.sort(function(a, b) {
//                        var aName = a.name.toLowerCase();
//                        var bName = b.name.toLowerCase();
//                        return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
//                    });

                if (shownApplications.length > 0) {
                    $('#noResults').hide();
                } else {
                    $('#noResults').show();
                }
//                    $.ajax({
//                        type:"POST",
//                        url:searchURL,
//                        data:({searchCriteria:searchValue}),
//                        cache:false,
//                        dataType:"json",
//                        async:true,
//                        success:onSearchSuccess
//                    });
            } else {
                $('#searchResultsList li').remove();
                $('#noResults').show();
            }
            return false;
        }

        $('.ui-icon-delete').bind('click', function () {
            $('#searchResultsList li').remove();
            $('#noResults').show();
        });

    });
    /*]]>*/
</script>

<div th:substituteby="/includesTH :: header"></div>

<div class="container">

    <header class="jumbotron subhead" id="overview">
        <h1>Search</h1>

        <p class="lead">
            Search your organization for an application.
        </p>
    </header>

    <section>

        <form id="searchForm" class="form-search">
            <input id="searchBox" type="text" class="input-medium search-query"/>
            <button id="searchBtn" class="btn">Search</button>
        </form>

        <h3 id="noResults">No Results</h3>

        <ul id="searchResultsList" data-role="listview" data-inset="true" data-filter="false">
        </ul>

    </section>

    <footer th:substituteby="/includesTH :: footer"></footer>

</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<section id="scripts">
    <section th:include="/includesTH :: required_scripts"/>
</section>

</body>
</html>
