<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:ks="http://www.knappsack.com" th:with="title='Knappsack'">
<head th:substituteby="/mobile/includesTH :: mobileHead"></head>
<body>
<div data-role="page" id="categoryResultsPage">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            $('#categoryResultsPage').bind('pageinit', function() {
                $('.striphtml').striphtml();
            });
        /*]]>*/
    </script>

    <div data-role="header" data-id="mainHeader" class="header">
        <a href="categoriesTH.html" th:href="@{/categories}" data-icon="back" data-direction="reverse" th:text="#{mobile.categoryResults.back}">Back</a>

        <h1>Knappsack</h1>

        <a th:href="@{/home}" href="/home" data-icon="home" th:text="#{mobile.categoryResults.home}">Home</a>
    </div>

    <div data-role="content">
        <div id="categoriesList">
            <ul data-role="listview" data-inset="true" data-filter="false" th:if="${not #lists.isEmpty(applications)}">
                <li th:each="application : ${applications}">
                    <a href="detailTH.html" th:href="@{'/detail/' + ${application.id}}" data-transition="slide">
                        <div class="li-floater">
                            <div class="thumb thumb-shadow">
                                <img src="" th:src="@{${application.icon.url}}" class="li-thumbnail" th:if="${#bools.isTrue(application.icon)}" />
                                <img src="" ks:src="@{/resources/img/default_icon.png}" class="li-thumbnail" th:if="${#bools.isFalse(application.icon)}" />
                            </div>
                        </div>
                        <h3 th:text="${application.name}"></h3>
                        <p th:text="${application.description}" class="striphtml"></p>
                    </a>
                </li>
            </ul>

            <span id="noResults1" th:if="${#lists.isEmpty(applications)}" class="inset inset_span center" th:inline="text">[[#{mobile.categoryResults.noApplications}]] [[${selectedCategory.name}]]</span>
            <span id="noResults2" th:if="${not #bools.isTrue(selectedCategory)}" class="inset inset_span center" th:text="#{mobile.categoryResults.noApplications.2}">No Applications for specified category.</span>
        </div>
    </div>

</div>

</body>
</html>
