<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title='Knappsack'" >
<head th:substituteby="/mobile/includesTH :: mobileHead" ></head>
<body>

<style type="text/css">

    .ui-dialog .ui-header a.ui-btn { display:none; }

</style>

<div id="activatePage" data-role="page" data-dom-cache="false">

    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#activatePage').bind('pagecreate', function() {

            var url = /*[[@{/activate/}]]*/ '/activate';

            $('#passwordForm').validate();

            $('#resendBtn').click(function() {
                $.mobile.showPageLoadingMsg();
                var email = /*[[${email}]]*/ '';

                var sendCodeUrl = /*[[@{/auth/forgotPassword}]]*/ '/auth/forgotPassword'
                $.post(sendCodeUrl, {email:email}, function(data) {
                    $.mobile.hidePageLoadingMsg();
                    $.mobile.changePage('#confirmationSuccess')
                });
            });

            $('#confirmationSuccess').find('.ui-header').find('a:first').hide();

        });

        /*]]>*/
    </script>

    <div data-role="header" data-id="mainHeader" data-position="fixed" class="header">
        <a th:href="@{/auth/logout}" href="/auth/logout" data-ajax="false" data-icon="back" data-direction="reverse" th:text="#{mobile.changePassword.logout}">Logout</a>
        <h1>Knappsack</h1>
        <a th:href="@{/home}" href="/home" data-icon="home" th:text="#{mobile.changePassword.home}">Home</a>
    </div>

    <div data-role="content">
        <h3 th:text="#{mobile.changePassword.changePassword}">Change Password</h3>

        <p class="lead" th:text="#{mobile.changePassword.enterNewPassword}">
            Enter your existing password and new password
        </p>

        <div class="alert alert-success" th:if="${#bools.isTrue(success)}">
            <p><strong th:text="#{mobile.changePassword.wellDone}">Well done!</strong> <span  th:text="#{mobile.changePassword.changeSuccess}">You have successfully changed your password.</span></p>
        </div>

        <div class="alert alert-error" th:if="${#bools.isTrue(error)}">
            <p><strong th:text="#{mobile.changePassword.wellDone}">Oh snap!</strong> <span th:text="#{mobile.changePassword.changeFail}">Password change failed.  Please try again.</span></p>
        </div>

        <form id="passwordForm" th:object="${passwordForm}" th:href="@{/profile/changePassword}" href="/profile/changePassword" method="post" class="form-horizontal">
            <div id="errors"  class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                <h4 th:text="#{errors.header}"/>
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <fieldset>
                <div class="control-group">
                    <input type="password" id="originalPassword" name="originalPassword" placeholder="Original:" class="password" required="required" />
                </div>

                <div class="control-group">
                    <input type="password" id="firstNewPassword" name="firstNewPassword" placeholder="New:" class="password" required="required" />
                </div>

                <div class="control-group">
                    <input type="password" id="secondNewPassword" name="secondNewPassword" placeholder="Confirm New:" class="password" required="required" />
                </div>

                <div class="form-actions">
                    <button data-role="submit" value="Submit" data-mini="true" data-theme="b"/>
                </div>
            </fieldset>
        </form>

        <div data-role="collapsible" data-collapsed="false" data-theme="c" data-content-theme="c">
            <h3 th:text="#{mobile.changePassword.instructions}">Instructions</h3>
            <dl>
                <dt th:text="#{mobile.changePassword.changePassword}">Change Password</dt>
                <dd th:inline="text">[[#{mobile.changePassword.changePassword.help}]] <a id="resend" data-rel="dialog" href="#confirmation" th:text="#{mobile.changePassword.clickHere}">Click Here</a>.</dd>
            </dl>
        </div>

    </div>

</div>

<div id="confirmation" data-role="dialog" data-url="#confirmation" data-dom-cache="false">
    <div data-role="header" data-theme="e">
        <h1 th:text="#{mobile.changePassword.resend}">Resend</h1>
    </div>
    <div data-role="content">
        <h1 th:text="#{mobile.changePassword.forgotPassword}">Forgot Password?</h1>
        <p th:text="#{mobile.changePassword.forgotPasswordConfirmation}">Are you sure you want to have your password reset and emailed to you?</p>

        <button id="resendBtn" data-theme="b" th:text="#{mobile.changePassword.continue}">Continue</button>
        <a href="#" data-role="button" data-rel="back" th:text="#{mobile.changePassword.cancel}">Cancel</a>
    </div>

</div>

<div id="confirmationSuccess" data-role="dialog" data-url="#confirmation" data-dom-cache="false">
    <div data-role="header" data-theme="e">
        <h1 th:text="#{mobile.changePassword.resend}">Resend</h1>
    </div>
    <div data-role="content">
        <h1 th:text="#{mobile.changePassword.success}">Success</h1>
        <p th:text="#{mobile.changePassword.successMessage}">Your request to have your password reset was successfully submitted.  Please check your email for further instructions.</p>

        <a href="#activatePage" data-role="button" th:text="#{mobile.changePassword.continue}">Continue</a>
    </div>

</div>

<div th:substituteby="/mobile/includesTH :: pageSpecificImports"></div>

</body>
</html>
