<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="include_home=${true},title='Knappsack'" >
<head th:substituteby="/mobile/includesTH :: mobileHead" ></head>
<body>
<div id="homePage" data-role="page" class="page-no-cache">

    <script th:inline="javascript">
        /*<![CDATA[*/

        $("#homePage").bind('pagebeforehide', function() {
//            alert('pagebeforehide');
//            addToHome.close();
//            alert('closed');
        });

        /*]]>*/
    </script>

    <div th:substituteby="/mobile/includesTH :: pageSpecificImports"></div>

    <div data-role="header" data-id="mainHeader" data-position="fixed" class="header">
        <h1 th:text="#{mobile.home.welcome}">Welcome</h1>
    </div>

    <div data-role="content">
        <div id="homeLogo" class="center">
            <h2 style="text-align: center" th:text="#{mobile.home.welcomeTo}">Welcome to Knappsack!</h2>
        </div>
        <div th:if="${#lists.size(categories) > 1}">
            <ul data-role="listview" data-inset="true" data-filter="false">
                <li><a href="categoriesTH.html" th:href="@{/categories}" data-transition="slide" th:text="#{mobile.home.categories}">Categories</a></li>
            </ul>
        </div>
        <div th:if="${#lists.size(categories) == 1}">
            <ul data-role="listview" data-inset="true" data-filter="false">
                <li><a href="categoriesTH.html" th:href="@{'/categories/' + ${categories[0].id}}" data-transition="slide" th:text="#{mobile.home.apps}">Apps</a></li>
            </ul>
        </div>
        <div>
            <ul data-role="listview" data-inset="true" data-filter="false">
                <li><a href="searchTH.html" th:href="@{/search}" data-transition="slide" th:text="#{mobile.home.search}">Search</a></li>
            </ul>
        </div>
        <div>
            <ul data-role="listview" data-inset="true" data-filter="false">
                <li><a th:href="@{/auth/logout}" data-ajax="false" th:text="#{mobile.home.logout}">Logout</a></li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>
