<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="mobileHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <script th:src="@{/static/jawr_loader.js}" type="text/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        JAWR.loader.style('/bundles/mobile.css');

        var addToHomeConfig = {
            startDelay:500,
            touchIcon:true,
            animationIn:'bubble',
            animationOut:'fade',
            lifespan:10000,
            autostart:false
        };

        JAWR.loader.script('/bundles/knappsack.js')
        JAWR.loader.script('/bundles/mobile.js');

        $(document).live("mobileinit", function() {
            $.mobile.defaultPageTransition = "slide";
            $.mobile.ajaxEnabled = false;
            ks.contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';
        });
        /*]]>*/
    </script>
    <script type="text/javascript">

    </script>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/gae0wog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="shortcut icon" href="../../../resources/img/favicon.png" th:href="@{/static/resources/img/favicon.png}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../../../resources/img/apple_touch_icon_57x57.png" th:href="@{/static/resources/img/apple_touch_icon_57x57.png}" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../../resources/img/apple_touch_icon_72x72.png" th:href="@{/static/resources/img/apple_touch_icon_72x72.png}" />
    <link rel="apple-touch-icon" sizes="114x114" href="../../../resources/img/apple_touch_icon_114x114.png" th:href="@{/static/resources/img/apple_touch_icon_114x114.png}" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../../resources/img/apple_touch_icon_144x144.png" th:href="@{/static/resources/img/apple_touch_icon_144x144.png}" />

    <title th:text="${orgName}">Knappsack</title>

</head>

<body>

</body>
</html>
