<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="title='${orgName}'">
<head th:substituteby="/mobile/includesTH :: mobileHead"></head>
<body>
<div id="searchPage" data-role="page">

    <script type="text/javascript" th:inline="javascript">
        var loading = /*[[#{mobile.search.loading}]]*/ "Loading...";
        $('#searchPage').live('pageinit', function () {
            $.mobile.loadingMessage = loading;
        })
    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#searchPage').bind('pageinit', function () {

            var applications = /*[[${applications}]]*/ '';
            var shownApplications = [];

            $('#searchBox').live('input', function () {

                var searchValue = $("#searchBox").val();
//                var searchURL = /*[[@{/search}]]*/ "search.html";

                shownApplications = [];

                if (searchValue.length > 0) {
                    searchValue = searchValue.toLowerCase();
                    $(applications).each(function(iterator, element){
                        if (element.name.toLowerCase().indexOf(searchValue) != -1 || element.description.toLowerCase().indexOf(searchValue) != -1) {
                            shownApplications.push(element);
                        }
                    });

                    $('#searchResultsList li').remove();

                    $(shownApplications).each(function(iterator, element) {
                        var detailURL = ks.contextPath + '/detail/' + element.id;

                        var anchor = $('<a>').attr('href', detailURL).attr('data-transition', 'slide');
                        if (element.icon != null) {
                            $(anchor).append($('<div>').addClass('li-floater')
                                    .append($('<div>').addClass('thumb thumb-shadow')
                                    .append($('<img>').attr('src', element.icon.url).addClass('li-thumbnail'))));
                        } else {
                            $(anchor).append($('<div>').addClass('li-floater')
                                    .append($('<div>').addClass('thumb thumb-shadow')
                                    .append($('<h1>').addClass('default_icon').addClass('li-thumbnail'))));
                        }
                        var description = document.createElement('span')
                        $(description).text(element.description).striphtml();
                        $('#searchResultsList').append(
                                $('<li>').append(
                                        $(anchor)
                                                .append($('<h3>').html(element.name))
                                                .append($('<p>').html(description).addClass('striphtml'))

                                )
                        );
                        $('.striphtml').striphtml();
                    });

//                    shownApplications.sort(function(a, b) {
//                        var aName = a.name.toLowerCase();
//                        var bName = b.name.toLowerCase();
//                        return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
//                    });

                    if (shownApplications.length > 0) {
                        $('#noResults').hide();
                    } else {
                        $('#noResults').show();
                    }

                    $('#searchResultsList').listview('refresh');
//                    $.ajax({
//                        type:"POST",
//                        url:searchURL,
//                        data:({searchCriteria:searchValue}),
//                        cache:false,
//                        dataType:"json",
//                        async:true,
//                        success:onSearchSuccess
//                    });
                } else {
                    $('#searchResultsList li').remove();
                    $('#searchResultsList').listview('refresh');
                    $('#noResults').show();
                }
                return false;
            });

            $('.ui-input-clear').bind('vclick', function() {
                $('#searchResultsList li').remove();
                $('#searchResultsList').listview('refresh');
                $('#noResults').show();
            });

        });
        /*]]>*/
    </script>

    <div data-role="header" data-id="mainHeader" class="header">
        <a id="backBtn" data-rel="back" th:href="@{/home}" data-icon="back" data-direction="reverse" th:text="#{mobile.search.back}">Back</a>

        <h1 th:text="${orgName}">Knappsack</h1>
    </div>

    <div id="searchDiv" data-role="content">

        <input type="search" name="searchBox" id="searchBox" value="" placeholder="Search"/>

        <span id="noResults" class="inset inset_span center" th:text="#{mobile.search.noResults}">No Results</span>

        <ul id="searchResultsList" data-role="listview" data-inset="true" data-filter="false">
        </ul>

    </div>

</div>

</body>
</html>