<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="adminStorageConfigsNavActive=${true},title=#{desktop.manager.title}">

<head th:substituteby="/includesTH :: head"></head>

<body>

<div class="container knappsack-container">

    <div th:substituteby="/includesTH :: header"/>

    <div class="row">

        <div th:substituteby="/includesTH :: side_menu"/>

        <div class="span10">




            <div class="page-info callout" th:if="${#bools.isTrue(isEdit)}"> <b class="notch"></b>
                <span class="page-info-bold"><span>Manage Storage Configuration</span><span>:</span></span> <span>Manage the information for this storage configuration.</span>
            </div>

            <div class="page-info callout" th:if="${#bools.isFalse(isEdit)}"> <b class="notch"></b>
                <span class="page-info-bold"><span>Create Storage Configuration</span><span>:</span></span> <span>Enter information for your new storage configuration.</span>
            </div>

            <div class="content-wrap">
                <div class="container-fluid">
                    <div class="row-fluid page-header first" style="border: none;">
                        <div class="span7">

                            <form id="storageForm" th:object="${storageForm}" th:action="@{/manager/saveStorageConfiguration}" method="POST"
                                  class="form-horizontal">
                                <div id="errors" class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                                    <h2 th:text="#{errors.header}">Errors</h2>
                                    <ul th:if="${#fields.hasErrors('*')}">
                                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </div>
                                <fieldset>
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" name="editing" th:value="*{editing}"/>

                                    <div class="control-group">
                                        <label class="control-label" for="storageType"><span class="required">*</span> <span th:text="#{desktop.manageStorageConfig.type}">Type</span></label>

                                        <div class="controls">
                                            <select id="storageType" th:field="*{storageType}" autofocus="autofocus" required="required" th:disabled="${#bools.isTrue(isEdit)}">
                                                <option value="" th:text="#{select.option.default}">--Please Select--</option>
                                                <option th:each="storage : ${storageTypes}"
                                                        th:value="${storage}" th:text="#{${storage.messageKey}}"></option>
                                            </select>
                                            <input type="hidden" th:field="*{storageType}" th:if="${#bools.isTrue(isEdit)}"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="name"><span class="required">*</span> <span th:text="#{desktop.manageStorageConfig.name}">Name</span></label>

                                        <div class="controls">
                                            <input id="name" type="text" th:field="*{name}" required="required"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" id="baseLocationLabel" for="baseLocation"><span class="required">*</span> <span>URL</span></label>

                                        <div class="controls">
                                            <input xml:id="baseLocation" type="text" th:field="*{baseLocation}" required="required" th:readonly="${#bools.isTrue(isEdit)}"/>
                                        </div>
                                    </div>
                                    <div id="s3StorageFields">
                                        <div class="control-group">
                                            <label class="control-label" for="bucketName"><span class="required">*</span> <span th:text="#{desktop.manageStorageConfig.bucketName}">Bucket Name</span></label>

                                            <div class="controls">
                                                <input id="bucketName" type="text" th:field="*{bucketName}" th:readonly="${#bools.isTrue(isEdit)}"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="accessKey"><span class="required">*</span> <span th:text="#{desktop.manageStorageConfig.accessKey}">Access Key</span></label>

                                            <div class="controls">
                                                <input id="accessKey" type="text" th:field="*{accessKey}"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="secretKey"><span class="required">*</span> <span th:text="#{desktop.manageStorageConfig.secretKey}">Secret Key</span></label>

                                            <div class="controls">
                                                <input id="secretKey" type="text" th:field="*{secretKey}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="controls" th:inline="text">
                                            <input type="checkbox" id="registrationDefault" th:field="*{registrationDefault}" />
                                            [[#{desktop.manageStorageConfig.default}]]
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <button id="submitBtn" type="submit" class="btn btn-primary" th:text="#{desktop.manageStorageConfig.submit}">Submit</button>
                                    </div>

                                </fieldset>

                                <div class="alert alert-info">
                                    <span th:text="#{desktop.required.field.description(#{desktop.required.field})}">* indicates a required field</span>
                                </div>
                            </form>

                        </div>
                        <div class="span5">
                            <dl>
                                <dt th:text="#{desktop.manageStorageConfig.storageType}">Storage Type</dt>
                                <dd th:text="#{desktop.manageStorageConfig.storageType.help}">Select 'local' if you want to store files on your local server or 'S3' if you wish to host your files with Amazon's S3 service.</dd>
                                <dt th:text="#{desktop.manageStorageConfig.name}">Name</dt>
                                <dd th:text="#{desktop.manageStorageConfig.name.help}">The name of this particular storage configuration.  This will be used to identify storage configurations when multiple are available.</dd>
                                <dt th:text="#{desktop.manageStorageConfig.localPath}">Local Path</dt>
                                <dd th:text="#{desktop.manageStorageConfig.localPath.help.1}">If you selected a type of 'Local', this is the base path where you want your files stored.  For example:</dd>
                                <dd th:text="#{desktop.manageStorageConfig.localPath.help.2}">c:/knappsack/files or /home/user/knappsack/files</dd>
                                <dt th:text="#{desktop.manageStorageConfig.registrationDefault}">Registration Default</dt>
                                <dd th:text="#{desktop.manageStorageConfig.registrationDefault.help}">By setting this field you are specifying that any public Organization registrations will use this storage configuration.  Note: Only one storage configuration can be default at a time.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<div th:substituteby="/includesTH :: scripts"/>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {

        $("#baseLocationLabel").text("* Local Path");
        $("#s3StorageFields").hide();


        var isEdit = /*[[${isEdit}]]*/ false;
        if (isEdit) {
            var storageType = $('#storageType option:selected').val();
            if (storageType == 'AMAZON_S3') {
                $("#s3StorageFields").show();
            } else {
                $("#s3StorageFields").hide();
            }
        }

        $("#storageType").live("change", function () {
            var storageType = $("#storageType").val();
            if (storageType == 'AMAZON_S3') {
                $("#baseLocationLabel").text("* URL");
                $("#s3StorageFields").show();
            } else if (storageType == 'LOCAL') {
                $("#baseLocationLabel").text("* Local Path");
                $("#s3StorageFields").hide();
            }
        });
    });
    /*]]>*/
</script>

</body>
</html>
