<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="adminGroupNavActive=${true},title=#{desktop.manager.title}">

<head th:substituteby="/includesTH :: head"></head>

<body>

<div class="container knappsack-container">

    <div th:substituteby="/includesTH :: header"/>

    <div class="row">

        <div th:substituteby="/includesTH :: side_menu"/>

        <div class="span10">

            <div class="page-info callout" th:if="${#bools.isTrue(isEdit)}"> <b class="notch"></b>
                <span class="page-info-bold"><span th:text="#{desktop.manageApplicationVersion.updateVersion}">Update Version</span>:</span> <span th:text="#{desktop.manageApplicationVersion.modifyInformation}">Modify the information for this version.</span>
            </div>

            <div class="page-info callout" th:if="${#bools.isFalse(isEdit)}"> <b class="notch"></b>
                <span class="page-info-bold"><span th:text="#{desktop.manageApplicationVersion.createVersion}">Create Version</span>:</span> <span th:text="#{desktop.manageApplicationVersion.enterInformation}">Enter information for your new version.</span>
            </div>

            <div class="content-wrap">
                <div class="container-fluid">
                    <div class="row-fluid page-header first" style="border: none;">
                        <ul class="breadcrumb">
                            <li>
                                <a th:href="@{'/manager/editApplication/' + ${parentApplicationId}}" th:text="${parentApplicationName}"/>
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                <a href="#" th:if="${#bools.isFalse(isEdit)}" th:text="#{desktop.manageApplicationVersion.createVersion}">Create Version</a>
                                <a href="#" th:inline="text" th:if="${#bools.isTrue(isEdit)}" th:text="${version.versionName}">Version Name</a>
                            </li>
                        </ul>
                        <div class="alert alert-success" th:if="${#bools.isTrue(deleteSuccess)}">
                            <a class="close" data-dismiss="alert" href="#" th:text="#{alert.close}">x</a>
                            <strong th:text="#{alert.success.prefix}">Well done!</strong> <span th:text="#{desktop.manageApplicationVersion.delete.success}">Your version was successfully deleted.</span>
                        </div>
                        <div class="alert alert-danger" th:if="${deleteSuccess} and ${#bools.isFalse(deleteSuccess)}">
                            <a class="close" data-dismiss="alert" href="#" th:text="#{alert.close}">x</a>
                            <strong th:text="#{alert.error.prefix}">Oh snap!</strong> <span th:text="#{desktop.manageApplicationVersion.delete.error}">An error occurred deleting your version.  Please try again.</span>
                        </div>
                        <div class="alert alert-success" th:if="${updateSuccess} and ${#bools.isTrue(updateSuccess)}">
                            <a class="close" data-dismiss="alert" href="#" th:text="#{alert.close}">x</a>
                            <strong th:text="#{alert.success.prefix}">Well done!</strong> <span th:text="#{desktop.manageApplicationVersion.success}">Your version was successfully updated.</span>
                        </div>
                        <h3 class="page-header"><span th:text="${#bools.isFalse(isEdit)} ? #{desktop.manageApplicationVersion.addVersion} : #{desktop.manageApplicationVersion.editVersion}">Version</span> <span class="pull-right"></span></h3>
                        <div class="row-fluid">
                            <small th:text="#{desktop.required.field.description(#{desktop.required.field})}" class="form-instructions">* indicates a required field</small>
                            <div>
                                <form id="applicationsForm" th:object="${version}" th:action="@{'/manager/uploadVersion'}" method="POST"
                                      enctype="multipart/form-data" class="form-horizontal">
                                    <div id="errors" class="alert alert-error" th:if="${#fields.hasErrors('*')}">
                                        <h2 th:text="#{errors.header}">Errors</h2>
                                        <ul>
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                        </ul>
                                    </div>
                                    <fieldset>
                                        <input type="hidden" id="id" th:field="*{id}"/>
                                        <input type="hidden" id="parentId" th:field="*{parentId}"/>
                                        <input type="hidden" id="editing" name="editing" th:value="${isEdit}"/>

                                        <div class="control-group">
                                            <label class="control-label" for="name"><span class="required" th:text="#{desktop.required.field}">*</span><span th:text="#{desktop.manageApplicationVersion.versionName}">Version</span></label>
                                            <div class="controls">
                                                <input id="name" required="required" th:field="*{versionName}" type="text" placeholder="1.0" th:placeholder="#{desktop.manageApplicationVersion.versionName.placeholder}" th:readonly="${#bools.isTrue(isEdit)}"/> <a title="" id="versionnametip" data-placement="right" data-toggle="tooltip" href="#" th:attr="data-original-title=#{desktop.manageApplicationVersion.versionName.tooltip}" data-original-title="Name this version. ex. 1.0.0"><i class="icon-info-sign"></i></a>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="recentChanges"><span class="required" th:text="#{desktop.required.field}">*</span><span th:text="#{desktop.manageApplicationVersion.recentChanges}">Version Notes</span></label>
                                            <div class="controls">
                                                <textarea id="recentChanges" th:field="*{recentChanges}" th:text="*{recentChanges}" th:placeholder="#{desktop.manageApplicationVersion.recentChanges.placeholder}" placeholder="Enter changes for this version of the app." class="span8 textbox"/>
                                            </div>
                                        </div>

                                        <div class="control-group" th:if="${not #lists.isEmpty(groups)}">
                                            <label class="control-label" for="guestGroupIds" th:text="#{desktop.manageApplicationVersion.selectGroups}">Share with Group(s)</label>
                                            <div class="controls">
                                                <select id="guestGroupIds" th:field="*{guestGroupIds}" multiple="multiple" style="display: none;">
                                                    <option th:each="group : ${groups}"
                                                            th:value="${group.id}" th:text="${group.name}"></option>
                                                </select> <a title="" id="sharegrouptip" data-placement="right" data-toggle="tooltip" href="#" th:attr="data-original-title=#{desktop.manageApplicationVersion.selectGroups.tooltip}" data-original-title="You may share this version with multiple groups."><i class="icon-info-sign"></i></a>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="appState"><span class="required" th:text="#{desktop.required.field}">*</span><span th:text="#{desktop.manageApplicationVersion.selectState}"></span></label>

                                            <div class="controls">
                                                <select id="appState" th:field="*{appState}" required="required">
                                                    <option value="" th:text="#{select.option.default}">--Please Select--</option>
                                                    <option th:each="appStateIter : ${appStates}"
                                                            th:selected="*{appState} == ${appStateIter.key}"
                                                            th:disabled="${#bools.isFalse(appStateIter.key.availableToGroup)}"
                                                            th:value="${appStateIter.key}" th:text="${appStateIter.value}" th:if="(${#bools.isTrue(appStateIter.key.userSelectable)} and ${#bools.isTrue(appStateIter.key.availableToGroup)}) or (*{appState} == ${appStateIter.key})"></option>
                                                </select> <a title="" id="appstatustip" data-placement="right" data-toggle="tooltip" href="#" th:attr="data-original-title=#{desktop.manageApplicationVersion.selectState.tooltip}" data-original-title="Assign a state to this version."><i class="icon-info-sign"></i></a>
                                            </div>

                                        </div>

                                        <div class="control-group" id="installationFileDiv" th:if="${#bools.isFalse(isEdit)}">
                                            <label class="control-label" for="appFile" th:inline="text"><span class="required" th:text="#{desktop.required.field}">*</span><span th:text="#{desktop.manageApplicationVersion.installationFile}">Installation File</span></label>
                                            <div class="controls">
                                                <input class="button" type="file" id="appFile" th:field="*{appFile}" required="required"/>
                                            </div>
                                        </div>

                                        <div th:if="${not #lists.isEmpty(keyVaultEntries)}">
                                            <div class="control-group" id="resignDiv">
                                                <label class="control-label"><span th:text="#{desktop.manageApplicationVersion.resign}">Re-sign?</span></label>
                                                <div class="controls">
                                                    <div id="btnGrpVisibility" class="btn-group" data-switch="true" data-toggle="buttons-radio">
                                                        <button id="keyYesBtn" type="button" class="btn" data-value='true'>Yes</button>
                                                        <button id="keyNoBtn" type="button" class="btn btn-info active" data-value='false'>No</button>
                                                    </div> <a title="" id="resigntip" data-placement="right" data-toggle="tooltip" href="#" th:attr="data-original-title=#{desktop.manageApplicationVersion.resign.tooltip}" data-original-title="The installation file for this version will be re-signed upon submit."><i class="icon-info-sign"></i></a>
                                                </div>
                                            </div>

                                            <div id="keyVaultEntriesDiv" class="control-group" style="display: none;">
                                                <label class="control-label" for="keyVaultEntries"><span class="required" th:text="#{desktop.required.field}">*</span><span th:text="#{desktop.manageApplicationVersion.keys}">Keys</span></label>
                                                <div class="controls">
                                                    <select id="keyVaultEntries" th:field="*{keyVaultEntryId}" required="required">
                                                        <option value="" th:text="#{select.option.default}">--Please Select--</option>
                                                        <option th:each="keyVaultEntry : ${keyVaultEntries}"
                                                                th:value="${keyVaultEntry.id}" th:text="${keyVaultEntry.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="control-group" id="progressDiv" th:if="${#bools.isFalse(isEdit)}">-->
                                        <!--<label class="control-label" for="progressBar" th:inline="text"><span class="required"></span>[[#{desktop.manageApplicationVersion.progress}]]</label>-->
                                        <!--<div class="controls">-->
                                        <!--<progress id="progressBar" value="0"></progress>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <div class="form-actions">
                                            <button id="submitButton" type="submit" class="btn btn-primary" th:text="#{desktop.manageApplicationVersion.submit}">Submit</button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div class="row-fluid">
                                <h3 class="page-header" th:text="#{desktop.manageApplicationVersion.history}">Version History</h3>
                                <table id="versionHistoryTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th th:text="#{desktop.manageApplicationVersion.history.versionName}">Version</th>
                                        <th th:text="#{desktop.manageApplicationVersion.history.state}">State</th>
                                        <th th:text="#{desktop.manageApplicationVersion.history.actions}">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:substituteBy="/includesTH :: confirmation_modal"></div>

<footer th:substituteby="/includesTH :: footer"></footer>

<div th:substituteby="/includesTH :: scripts"/>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    (function() {

        ks.params.appStates = /*[[${appStates}]]*/ [];
        ks.params.editing = /*[[${#bools.isTrue(isEdit)}]]*/ false;
        ks.params.versionHasInstallFile = /*[[${#bools.isTrue(version.appFile)}]]*/ false;
        ks.params.parentApplicationId = /*[[${parentApplicationId}]]*/ 0;
        ks.params.editVersion = /*[[#{desktop.manageApplicationVersion.edit}]]*/ 'Edit';
        ks.params.deleteVersion = /*[[#{desktop.manageApplicationVersion.delete}]]*/ 'Delete';
        ks.params.deleteVersionModalTitle = /*[[#{desktop.manageApplicationVersion.delete.confirmation.title}]]*/ 'Delete Version';
        ks.params.deleteVersionModalBody = /*[[#{desktop.manageApplicationVersion.delete.confirmation.body}]]*/ 'Are you sure you want to delete this version?  This action cannot be undone.';

        $(document).ready(function () {
            $(document).trigger('knappsack.manage_application_version-page', ks.params);
        });
    })();
    /*]]>*/
</script>

</body>
</html>
