<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:with="active='organizationNav',title=#{desktop.manager.title}">

<head th:substituteby="/includesTH :: head"></head>

<body class="lightNav">

<div th:substituteby="/includesTH :: header"/>

<div class="container-fluid">

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            $('table').dataTable( {
                "sDom": "<'table-inline'<<'span6'l><'floatright'f>r>t<<'span6'i><'floatright'p>>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aoColumns": [
                    null,
                    { "bSortable": false },
                    { "bSortable": false }
                ]
            });

        });
        /*]]>*/
    </script>

    <div class="row-fluid">

        <div th:substituteby="/manager/managerIncludesTH :: sidebar-nav"/>

        <div class="span10">

            <header class="jumbotron subhead" id="overview">
                <h1 th:text="#{desktop.organizations}">Organizations</h1>

                <p class="lead" th:text="#{desktop.organizations.allOrgs}">
                    All organizations that you have access to.
                </p>

                <div>
                    <a href="manageGroupTH.html" th:href="@{/manager/addOrg}" class="btn btn-success" th:if="${user.systemAdmin}" th:inline="text"><i class="icon-plus icon-white"/> [[#{desktop.organizations.addNew}]]</a>
                </div>
            </header>

            <section class="well">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{desktop.organizations.name}">Name</th>
                        <th th:text="#{desktop.organizations.edit}">Edit</th>
                        <th th:text="#{desktop.organizations.delete}">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="org : ${orgs}">
                        <td th:text="${org.name}">1</td>
                        <td><a href="" th:href="@{'/manager/editOrg/' + ${org.id}}">Edit</a></td>
                        <td><a href="" th:href="@{'/manager/deleteOrg/' + ${org.id}}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </section>

        </div>

    </div>

</div>

<footer th:substituteby="/includesTH :: footer"></footer>

<section id="scripts">
    <section th:include="/includesTH :: required_scripts"/>
    <section th:include="/includesTH :: table_scripts"/>
</section>

</body>
</html>